<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" />
    <title>Users</title>
    <link th:if="${mode == 'development'}" rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}" />
    <link th:if="${mode == 'production'}" rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
    <script type="text/javascript" src="../static/angular.min.js" th:src="@{/angular.min.js}"></script>
    <script type="text/javascript" src="../static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
    <script type="text/javascript" src="../static/app/users.controller.js" th:src="@{/app/users.controller.js}"></script>
</head>
<body ng-app="app" ng-controller="UsersController as vm">

<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Booking Demo</a>
            </div>
            <p class="navbar-text navbar-right" th:text="'Signed in as ' + ${username}" style="margin-right: 10px;">Signed in as Anonymus</p>
        </div>
    </nav>
</header>

<div>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">

            <!-- show all users or only these deleted -->
            <div class="btn-group" role="group">
                <button ng-click="vm.getAll()" type="button" class="btn btn-default">All</button>
                <!-- <button ng-click="vm.getDeleted()" type="button" class="btn btn-default">Deleted</button> -->
            </div>

            <!-- table for users -->
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Birthday</th>
                    <th>Login</th>
                    <th style="width: 90px"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in vm.users">
                    <td>{{user.name}}</td>
                    <td>{{user.surname}}</td>
                    <td>{{user.birthDay}}</td>
                    <td>{{user.login}}</td>
                    <td>
                        <button class="btn btn-danger" ng-click="vm.deleteUser(user.id)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div style="margin-left: 10px;">
        <p>Add User</p>

        <p>Name:</p>
        <input type="text" name="name" id="_name"></input> <!-- ng-model="item.name" -->
        <p>Surname:</p>
        <input type="text" name="surname" id="_surname"></input>
        <p>BirthDay:</p>
        <input type="text" name="birthDay" id="_birthDay"></input>
        <p>Login:</p>
        <input type="text" name="login" id="_login"></input>
        <button type="button" id="addButton" ng-click="vm.addUser()">Add</button>
    </div>
</div>

<footer class="footer" style="bottom:0; background-color: #f5f5f5;">
    <div class="container">
        <p th:text="${datetime}" class="text-muted">Page was rendered today.</p>
    </div>
</footer>

<script>
    console.log("Site loaded");
</script>

</body>
</html>